body{
    background-color:blue;
}
h3{
    bottom: 0%;
    color:white;
    font-family:'Roboto Mono', monospace;
    text-align: center;
}
.game{
    width: 600px;
    height: 200px;
    background-image: url(Desert.gif);
    background-size: 280px 280px;
    margin-top: 150px;
    margin-left: 300px;
}
#dino{
    width: 50px;
    height: 50px;
    background-image: url(dino.png);
    background-size: 50px 50px;
    position:relative;
    top: 150px;
    margin-left: 30px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top:150px;}
    50%{top: 30px;}
    70%{top: 50px;}
    100%{top: 150px;}
}
#block{
  width: 20px;
  height: 20px;
  background-color: grey;
  position:relative;
  top: 130px;
  left: 580px;
  animation: block 1s linear infinite;
}
@keyframes block{
    0%{left:580px;}
    100%{left:-10px;}
}


